<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Board</title>
</head>
<body>
    <table>
        <tr>
            <th>ToDo</th>
            <th>Color</th>
            <th>StopWatch</th>
            <th>편집</th>
            <th>삭제</th>
        </tr>
        <form id=form method="POST">
            <% for(var i=0; i<arrays.length; i++){ %>
                <tr>
                    <td><%= arrays[i].todo %></td>
                    <td><%= arrays[i].color %></td>
                    <td><%= arrays[i].stop_watch %></td>
                    <td><button onclick="modify(<%=arrays[i].id%>);">편집</button></td>
                    <td><button onclick="delet(<%=arrays[i].id%>);">삭제</button></td>
                </tr>
            <% } %>
        </form>
    </table>
    <a href="/">홈</a>
    <a href="/todo/create">작성</a>
    <script>
        function modify(id){
            var form = document.getElementById('form');
            var input = document.createElement("input");
            form.action = "/todo/modify";
            input.value = id;
            input.type='hidden';
            input.name = "num_id";
            form.appendChild(input);
            form.submit;
        }
        function delet(id){
            var form = document.getElementById('form');
            var input = document.createElement("input");
            form.action = "/todo/delete";
            input.value = id;
            input.type='hidden';
            input.name = "num_id";
            form.appendChild(input);
            form.submit;
        }
            
    </script>
</body>
</html>